@charset "UTF-8";

body {
    
font-size: 1rem;
    
overflow: hidden;
    
font-family: 'Dancing Script', cursive;
    
font-family: 'Roboto', sans-serif;
    
background-image: url('${pageContext.request.contextPath}/img/wooddesk.jpg');
    
background-repeat: no-repeat;
    
/* background-color: #000; */
    
background-size: 120% 100%;
}
#warning {
   
    position: absolute;
    display: none;

    top: -200px;
    z-index: 99999;
    margin : auto;
    text-shadow: 3px 2px 2px rgb(249, 242, 229); 
    animation: fadein 1.5s;
    width : 800px;
    height: 200px;
}

#warning > div{
    position: absolute;
   text-align:center;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 900;
   font-size: 128px;
   line-height: 60px;
    top: 10px;
   width:60px;
   height:100px;
    left: 360px;
   color: rgba(0, 0, 0, 0.7);
   animation: fadein 1s;
   animation-iteration-count: infinite ;
}
#warning > img{
    position: absolute;
    left: 30px;
    bottom: 10px;
    opacity : 0.7;
}

.realwrap {
    width: 100%;
    height: 100vh;
    /* height: 100vh; */
    box-sizing: border-box;
    /* margin: 0 auto; */
    /* background-color: rgb(249, 242, 229); */
    /*     background-image: url( "http://localhost/boardgame/img/kiwon.jpg" );  */
    background-repeat: no-repeat;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-top: 10%;
    margin-left: 12%;
}
.wrap {
  
box-sizing: border-box;
  
position: relative;
  
width: 900px;
  
height: 900px;
  
/* background-image: url('./pan.png'); */
  
background-repeat: no-repeat;
  
padding-top: 46px;
  
/* padding-left: 10%; */
}
.panshadow {
    width: 120%;
    height: 120%;
    position: absolute;
    z-index: 590;
    top: 0;
    pointer-events : none;
    opacity: 0.7;
    animation: blow 14s;
    animation-delay : 2s;
    animation-direction:alternate-reverse;
    animation-iteration-count:infinite;
   
}


@keyframes blow {
    0% {
        opacity: 0.7;
        transform: translate(0, 0);
    }
    30% {
        opacity: 1;
        transform: translate(-15px, -10px);
    }
    60% {
        opacity: 0.5;

        transform: translate(8px, -4px);

    }
    100% {
        opacity: 1.2;

        transform: translate(-4px, 8px);


    }
}




.pan{
    position: relative;
   
    z-index: 550;
    

}
.x {
    width: 710.7px;
    height: 37.2px;
    margin-left: 5%;
    list-style: none;
    display: flex;
    cursor: pointer;
    
    /* margin: 0; */
    /*     margin-left: 5px; */
}

.x > li{
    
    text-align: center;
    flex:1;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.x > li > img {
    width: 35px;
    background-image: url('./black.png');
    filter: drop-shadow(2px 2px 2px #000);
}

.panimg {
    position: absolute;
    top: 0;
    z-index: 0;
    border-radius: 2rem;
    filter: drop-shadow(2px 2px 2px #000);
    background-color: rgb(248, 248, 248);
    /* display: none; */
    /* opacity: 0.8; */
}
#blurblack {
    position: absolute;
    width: 800px;
    height: 800px;
    background-color: rgba(0, 0, 0, 0.164);
    z-index: 99998;
    top:0;
    left: 0;
    display: none;
    border-radius: 2rem;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#blackwin {
    position: absolute;
    display: none;
    /* font-size: 100px; */
    top: 280px;
    left: 30px;
    /* left : 200px; */
    bottom:0;
    color: rgba(35, 42, 50, 0.863);
    font-weight: bolder;
    z-index: 99999;
    text-shadow: 3px 2px 2px rgb(249, 242, 229); 
    animation: fadein 1.5s;
}

#whitewin { 
    position: absolute;
    display: none;
    /* font-size: 100px; */
    top: 290px;
    /* left : 200px; */
    font-weight: bolder;
    z-index: 99999;
    color: rgb(249, 242, 229);
    text-shadow: 3px 2px 2px rgb(249, 242, 229); 
    animation: fadein 1.5s;
   

}

.paper {
    position: absolute;
    z-index: 0;
    left: 0;
    top: -200px;
    transform: rotate(65deg);
}

.pen {
    right: -250px;
    bottom: -70%;
    position: absolute;
    transform: rotate(10deg);
    z-index: 3;

}


#turndoll {

    width: 3vw;

    filter: drop-shadow(4px 4px 4px #000);
    
    

}

.sub {
    position: fixed;
    width: 33vw;
    height: 100vh;
    right: 0;
    top: 0;
    background-color: #000;
    color: white;
    /* position: relative; */
    z-index: 99999999;
}

.timer {
    border-radius: 20px;
    border: 0.7rem solid white;
    margin: 4%;
    width: 82%;
    display: flex;
    /* padding: 3%; */
    font-size: 2rem;
    height: 8%;
    align-items: center;
    margin-left: 7%;
}

.timer > *{
    text-align: center;
    flex: 1;
   
}

.turndollback {
	margin-top:10%;
	display: flex;
	align-items: center;
	border: 0.7rem solid #fff;
	border-radius: 20px;
	margin: 4%;
	height: 12vh;
	background-color: rgb(66 66 66);
}
.turndollback > * {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#undo {
    font-size: 2rem;
    font-weight: 800;
    cursor:pointer;
    /* border: 1px solid #fff; */
    border: 0.4rem solid #fff;
    flex: 0.5;
    margin-right: 5%;
    height: 5vh;
    background-color: #000;
}
.logbox {
	margin-top:10%;
	height: 50%;
	overflow-y: auto;
	font-size: 2rem;
	padding-left: 5%;
	border: 0.7rem solid #fff;
	margin: 4%;
	border-radius: 20px;
	padding: 5% 5% 5% 5%;
}

.blackin {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	z-index: 999999;
	top:0;
	opacity: 0;
	pointer-events : none;
    transition: opacity 1.5s;

}

.blakcout {

	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	z-index: 999999;
	top:0;
	opacity: 1;
	pointer-events : none;
    transition: opacity 1.5s;

}
#timetext {
	
	font-size: 4rem;
	
}

.turnprint {
	font-size: 3rem;
	color:black;
	font-weight: 900;
	
}

.blue {
	
	width: 100vw;
	height: 100vh;
	background-color: #283240ad;
	position: absolute;
	z-index: 0;
	opacity: 0.5;
	
}
.ashtray {
	position: absolute;
	top: -5%;
	/* left: -5%; */
	width: 12%;
	left: -5%;
	transform: rotate(55deg); /* 45도로 회전 */
	z-index: 10;
}
.smoke {
	position: absolute;
	z-index: 15;
	opacity: 0.5;
	transform: rotate(55deg);
	top: -40%;
	animation: smoke 14s;
    animation-delay : 9s;
    animation-direction:alternate-reverse;
    animation-iteration-count:infinite;
}

@keyframes smoke {
    0% {
        opacity: 0;
        transform: translate(0, 0);
    }
    30% {
        opacity: 0.7;
        transform: translate(3px, -4px);
    }
    60% {
        opacity: 0.3;

        transform: translate(8px, 10px);

    }
    100% {
        opacity: 0;

        transform: translate(50px, 50px);


    }
}

#blacktimer {
	height : 100%;
	flex: 1;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	color:black;
	font-size: 3rem;
}
#whitetimer {
	height : 100%;
	display: flex;
	color:white;
	flex: 1;
	background-color: black;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
}